#requirements.txt

##name: app_environment
##channels:
##  - snowflake
##dependencies:
##  - python=3.8.*
##  - snowflake-snowpark-python=
##  - streamlit=

## changes required to shift from Sis to Snis
snowflake-snowpark-python
streamlit
